<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Product Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photo.each do |f| %>
      <tr>

        <td><%= image_tag(f.file, height: '32', width: '32') if f.file.present? %></td>
        <td><%= f.product.name %></td>
        <td><%= link_to 'Show', f %></td>
        <td><%= link_to 'Edit', edit_photo_path(f) %></td>
        <td><%= link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
