<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= image_tag(@photo.file, height: '100', width: '100') if @photo.file.present? %>
</p>

<p>
  <strong>Product:</strong>
  <%= @photo.product.name %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |

<% if @photo.product.nil? %>
  <%= link_to 'Back', reviews_path %>
<% else %>
  <%= link_to 'Back', photos_path %>
<% end %>
