<p id="notice"><%= notice %></p>

<h1>Featured Products</h1>

  <div class="thisisfood">
    <figure>
    <img class= "piepie" id="apple" src='/assets/applepie.jpeg' height=267px; width=300px;>
    <figcaption>Apple Pie</figcaption>
    <span> $15.00 </span>
    </figure>
    <figure>
    <img class= "piepie" id="birth" src='/assets/birthdaycake.jpeg' height=267px; width=300px;>
    <figcaption>Birthday Cake</figcaption>
    <span> $15.00 </span>
    </figure>
    <figure>
    <img class= "piepie" id="carrot" src='/assets/carrotcake.jpeg' height=267px; width=300px;>
    <figcaption> Carrot Cake </figcaption>
    <span> $15.00 </span>
    </figure>
  </div>

  <div class="thisisfood">
  <figure>
    <img class= "piepie" id="choco" src='/assets/chococake.jpeg' height=267px; width=300px;>
    <figcaption>Chocolate Cake </figcaption>
    <span> $15.00 </span>
  </figure>
  <figure>
    <img class= "piepie" id="peanut" src='/assets/peanutbutter.jpeg' height=267px; width=300px;>
    <figcaption>PeanutButter Pie</figcaption>
    <span> $15.00 </span>
  </figure>
  <figure>
    <img class= "piepie" id="pecan" src='/assets/pecan.jpeg'  height=267px; width=300px;>
    <figcaption>Pecan Pie</figcaption>
    <span> $15.00 </span>
  </figure>
</div>


    <% @products.each do |product| %>
      <a>
        <div>
          <% if product.attaches.size > 0 %>
            <%= image_tag product.attaches.first.picture.url, :size => "350x400" %>
          <% end %>
        </div>
        <p><%= product.name %></p>
        <p><%= product.description %></p>
        <div><%= product.formatted_price %></div>
      </a>
      <a><%= link_to 'Show', product %></a>
        <% if @current_user && @current_user.role == 1 %>
          <a><%= link_to 'Edit', edit_product_path(product) %></a>
          <a><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></a>
        <% end %>
    <% end %>
  </div>
    <%= render 'partials/footer' %> 
<% if @current_user && @current_user.role == 1 %>
<%= link_to 'New Product', new_product_path %>
<% end %>
</div>
