<p id="notice"><%= notice %></p>

<div class="yelp-data">

</div>

<h1>Featured Products</h1>

  <div>
    <% @products.each do |product| %>
      <a>
        <div>
          <% if product.attaches.size > 0 %>
            <%= image_tag product.attaches.first.picture.url, :size => "350x400" %>
          <% end %>
        </div>
        <p><%= product.name %></p>
        <p><%= product.description %></p>
        <div><%= product.formatted_price %></div>
      </a>
      <a><%= link_to 'Show', product %></a>
        <% if @current_user && @current_user.role == 1 %>
          <a><%= link_to 'Edit', edit_product_path(product) %></a>
          <a><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></a>
        <% end %>
    <% end %>
  </div>

<% if @current_user && @current_user.role == 1 %>
<%= link_to 'New Product', new_product_path %>
<% end %>

<div class="grid">
  <% @pins.data.each do |pin| %>
        <% html = Nokogiri::HTML(open(pin.url).read) %>
        <%=raw html.css('.Grid__Container') %>
  <% end %>
</div>
