<p id="notice"><%= notice %></p>

<% if @product.attaches.size > 0 %>
  <% @product.attaches.each do |attach| %>
    <%= image_tag attach.picture.url, :size => "100x100" %>
  <% end %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.formatted_price %>
</p>

<h3>Reviews</h3>
<% @product.reviews.each do |review| %>
  <p>
    <%= review.comment %>
    <br>
    Added on: <%= review.created_at %>
  </p>
<% end %>
<% if @current_user && @current_user.role == 1 %>
  <h3>New Review</h3>
<%= render 'reviews/form' %>
<% end %>

<% if @current_user && @current_user.role == 1 %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>
